### Importing Module: Math Module

In [1]:
# importing required module
import math

In [16]:
print (math.sin(0), math.cos(0), math.tan(0))
print (math.sinh(0), math.cosh(0), math.tanh(0))
print (math.pi, math.e, math.tau)   # constants
print (math.gcd(180, 70), math.lcm(180, 70), 180 * 70 / math.gcd(180, 70))
print (math.log(100), math.log(100, math.e), math.log(1024, 2), math.log2(1024))
print (math.log(1000, 10), math.log10(1000), math.pow(100, 3), 100 ** 3, 100.0 ** 3)
print (math.factorial(5), math.factorial(6))
print (math.floor(100.1), math.floor(10.9), math.ceil(100.1), math.ceil(100.9))

0.0 1.0 0.0
0.0 1.0 0.0
3.141592653589793 2.718281828459045 6.283185307179586
10 1260 1260.0
4.605170185988092 4.605170185988092 10.0 10.0
2.9999999999999996 3.0 1000000.0 1000000 1000000.0
120 720
100 10 101 101

In [20]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [ ]:
help(math)

In [25]:
print (math.dist((100, 30), (200, 40)))   # calculating Eucledian distance
print (math.sqrt(1000), math.sqrt(10000))
print (math.sqrt((100 - 200) ** 2 + (30 - 40) ** 2))

100.4987562112089
31.622776601683793 100.0
100.4987562112089

In [26]:
import calendar
calendar.prcal(2023)

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

### String Processing

In [ ]:
index from left to right ->   0   1   2   3   4   5   6   7   8   9  
                    mystr =   u   n   i   v   e   r   s   i   t   y
index from right to left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [41]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[6], mystr[-4])    # indexing
print (mystr[3:8], mystr[-7:-2], mystr[3:-2], mystr[-7:8])
print (mystr[1:6], mystr[-9:-4], mystr[1:-4], mystr[-9:6])
print (mystr[0::2], mystr[::2], mystr[1::2], mystr[-9::2])
print (mystr[::-1], mystr[9::-2], mystr[8::-2])

university 10 <class 'str'> 2993550925680
v v s s
versi versi versi versi
niver niver niver niver
uiest uiest nvriy nvriy
ytisrevinu yirvn tseiu

In [48]:
mystr = "caLCuTTa unIVerSity"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.lower())
print (mystr.upper())
print (mystr.swapcase())
print (mystr.capitalize())
print (mystr.title())
print (mystr.center(40))
print (mystr.title().center(40))

caLCuTTa unIVerSity 19 <class 'str'> 2993541076096
calcutta university
CALCUTTA UNIVERSITY
CAlcUttA UNivERsITY
Calcutta university
Calcutta University
          caLCuTTa unIVerSity
          Calcutta University

In [55]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("ITY"), mystr.find("ITY".lower()))
print (mystr.find("i"), mystr.find("i", 2), mystr.find("i", 5), mystr.find("i", 12))

4 -1 4
4 4 11 -1

In [57]:
mystr = "charity begins at home"
print (mystr.index("ity"), mystr.index("ITY".lower()))
print (mystr.index("i"), mystr.index("i", 2), mystr.index("i", 5))
print (mystr.index("i", 12))

4 4
4 4 11

ValueError: substring not found

In [58]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("ITY".lower()))
    print (mystr.index("i"), mystr.index("i", 2), mystr.index("i", 5))
    print (mystr.index("i", 12))
except:
    print ("Unsuccessful searching...")

4 4
4 4 11
Unsuccessful searching...

In [59]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("ITY".lower()))
    print (mystr.index("i"), mystr.index("i", 2), mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("Unsuccessful searching...")
    print (f"Error type: {type(ve)}...")
    print (f"Error message: {ve}...")

4 4
4 4 11
Unsuccessful searching...
Error type: <class 'ValueError'>...
Error message: substring not found...

In [65]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
result = mystr.strip()
print (result, len(result), type(result), id(result))
result = mystr.lstrip()
print (result, len(result), type(result), id(result))
result = mystr.rstrip()
print (result, len(result), type(result), id(result))

    calcutta    university      31 <class 'str'> 2993522371888
calcutta    university 22 <class 'str'> 2993518222336
calcutta    university      27 <class 'str'> 2993522147072
    calcutta    university 26 <class 'str'> 2993560541168

In [66]:
mystr = "###@calcutta#@#university@#@@@"
print (mystr, len(mystr), type(mystr), id(mystr))
result = mystr.strip("#@")
print (result, len(result), type(result), id(result))
result = mystr.lstrip("#@")
print (result, len(result), type(result), id(result))
result = mystr.rstrip("#@")
print (result, len(result), type(result), id(result))

###@calcutta#@#university@#@@@ 30 <class 'str'> 2993522592624
calcutta#@#university 21 <class 'str'> 2993550578256
calcutta#@#university@#@@@ 26 <class 'str'> 2993560541168
###@calcutta#@#university 25 <class 'str'> 2993522371728

In [74]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8))
print (mystr.startswith("beg", 8, 500), mystr.startswith("beg", 8, 11), mystr.startswith("beg", 8, 10))

charity begins at home 22 <class 'str'> 2993522362928
True False True
True True False

In [78]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.endswith("ome"), mystr.endswith("beg"), mystr.endswith("beg", 0, 11))
print (mystr.endswith("beg", 4, 11))

charity begins at home 22 <class 'str'> 2993560542208
True False True
True

In [79]:
mystr = "school"
for ch in mystr:
    print (ch, end = ", ")

s, c, h, o, o, l,

In [81]:
mystr = "school"
for i in range(len(mystr)):
    print (mystr[i], end = ", ")

s, c, h, o, o, l,

In [83]:
mystr = "charity begins at home"
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [86]:
list1 = ['charity', 'begins', 'at', 'home']
mystr = " ".join(list1)
print (mystr)
list1 = ['char', 'ty beg', 'ns at home']
mystr = "i".join(list1)
print (mystr)
list1 = ['charity', 'begins', 'at', 'home']
mystr = " - ".join(list1)
print (mystr)

charity begins at home
charity begins at home
charity - begins - at - home

In [91]:
mystr = "mississippi"
print (mystr, len(mystr), type(mystr), id(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi 11 <class 'str'> 2993553381360
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'m', 's', 'i', 'p'}
frozenset({'m', 's', 'i', 'p'})

In [93]:
mystr = "mississippi"
for ch in set(mystr):
    print (ch, end = ", ")

m, s, i, p,

In [95]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.count("i"), mystr.count("ver"), mystr.count("VER"))

university 10 <class 'str'> 2993557272048
2 1 0

In [99]:
mystr = "Good morning"
print (mystr)
print (mystr.replace("morning", "night"))
print (mystr)
mystr = mystr.replace("morning", "night")
print (mystr)
print (mystr.replace("evening", "morning"))

Good morning
Good night
Good morning
Good night
Good night

In [106]:
mystr = "university"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "abcd@gmail.com"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "0xab"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "university1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "四"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())

True True False False
False True True True
False False False False
False True False False
False True False False
True True True False

### Class Assignment

In [ ]:
Take a string as user input may be consisting of alpha-numeric characters in upper or in
lower case and special characters. Find out the number of vowels and consonants in that string.
As example: "monoj123@gmail.com is my E-MAIL address."

In [110]:
# mystr = "monoj123@gmail.com is my E-MAIL address."
mystr = "uni123ver .@#SITY"
vcount = ccount = 0
for ch in mystr.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So total number of vowels is {vcount} and consonant is {ccount}...")
print ("End of the program...")

So total number of vowels is 4 and consonant is 6...
End of the program...

### Class Assignment

In [ ]:
Input: mOHan dAS kaRAm chAnd ganDhi
Output: M. D. K. C. Gandhi

In [112]:
mystr = "mOHan dAS kaRAm chAnd ganDhi"
list1 = mystr.split()
outputstr = ""
for word in list1[:-1]:
    outputstr += word[0] + ". "
outputstr += list1[-1]
outputstr = outputstr.title()
print (outputstr)

M. D. K. C. Gandhi