## **Introduction to Python**

### Comment Line

In [51]:
# This is a comment line
# All comment lines will be preceeded by the # symbol
# This is the last comment line

### Inputs and Outputs

In [2]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2   # string concatenation
print ("So total =", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 2168756803120
200 <class 'str'> 2168756802864
So total = 100200
End of the program...

In [4]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2   # string concatenation
print ("So total =", total)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300

200 <class 'int'> 2168670394832
300 <class 'int'> 2168756057712
So total = 500
End of the program...

In [17]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " +str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # {} denotes variable place-holder
print ("So {0} + {1} = {2}".format(num1, num2, total))  # numbered place holder
print ("So {2} + {1} = {0}".format(total, num2, num1))  # numbered place holder
print ("So {fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = total))   # labelled place-holder
print ("So {fn} + {sn} = {tot}".format(sn = num2, tot = total, fn = num1))
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %f = %d"%(num1, num2, total))
print ("So %d + %8.2f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")   # smart formatting available from Python 2.7 version

So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300.000000 = 500
So 200 +   300.00 = 500
So 200 + 300 = 500

### Dynamic Variable Types

In [18]:
var1 = 100
print (var1, type(var1), id(var1))
var1 = 100.45
print (var1, type(var1), id(var1))
var1 = "India"
print (var1, type(var1), id(var1))
var1 = "I"
print (var1, type(var1), id(var1))
var1 = True
print (var1, type(var1), id(var1))
var1 = False
print (var1, type(var1), id(var1))

100 <class 'int'> 2168670391632
100.45 <class 'float'> 2168774823408
India <class 'str'> 2168784889456
I <class 'str'> 2168678442608
True <class 'bool'> 140730126190800
False <class 'bool'> 140730126190832

In [19]:
var1 = 100
var2 = var1
var3 = 100
print (var1, id(var1))
print (var2, id(var2))
print (var3, id(var3))

100 2168670391632
100 2168670391632
100 2168670391632

In [23]:
var1 = 257
var2 = var1
var3 = 257
print (var1, id(var1))
print (var2, id(var2))
print (var3, id(var3))

257 2168784092368
257 2168784092368
257 2168784091696

In [26]:
# for the values in the range -5 to 256, same memory spaces will be referenced by the variables
var1 = -6
var2 = var1
var3 = -6
print (var1, id(var1))
print (var2, id(var2))
print (var3, id(var3))

-6 2168784091504
-6 2168784091504
-6 2168784091344

### Python Operators

In [27]:
# arithmetic operators
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 % 40)
print (100 ** 4)

140
60
4000
2.5
2
20
100000000

In [ ]:
Operators can be categorized in followin types:
    1. Unary Operator (only one operand), e.g. +100, -40
    2. Binary Operator (only two operands), e.g. 100 + 30  100 / 30
    3. Ternary Operator (only three operands)

In [41]:
print (+100, -100)   # unary operator
print ("Hello " * 5)   # binary operator
print ("Bana" + "na")

100 -100
Hello Hello Hello Hello Hello
Banana

In [29]:
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"  # result = num1 % 2 == 0? "Even": "Odd";
print (f"So {num1} is an {result} number...")
       
num1 = 101
result = "Even" if (num1 % 2 == 0) else "Odd"
print (f"So {num1} is an {result} number...")

So 100 is an Even number...
So 101 is an Odd number...

In [32]:
# relational operators: > >= < <= != ==
print (100 > 40, 100 >= 40, 100 != 40)
# logical operators: and or not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not True, not False)

True True True
False False False True
False True True True
False True

### ASCII Codes

In [34]:
# ASCII (American Standard Code for Information Interchange)
# ASCII codes are 8 bit numbers, 256 combinations and ranging from 0 to 255
# Normal ASCII Codes: 0 to 127 (printable)
# Extendedl ASCII Codes: 128 to 255 (non-printable)
# A => 65, B => 66, ... Z => 90
# a => 97, b => 98, ... z => 122
# 0 => 48, 1 => 49, ... 9 => 57
# Space => 32, Enter => 13, Tab => 8, Back Space => 9

In [37]:
var1 = "A"
print (var1, ord(var1))
var1 = "Z"
print (var1, ord(var1))
var1 = "a"
print (var1, ord(var1))
var1 = "z"
print (var1, ord(var1))

A 65
Z 90
a 97
z 122

In [39]:
var1 = 65
print (var1, chr(var1))
var1 = 90
print (var1, chr(var1))
var1 = 97
print (var1, chr(var1))
var1 = 122
print (var1, chr(var1))

65 A
90 Z
97 a
122 z

### Bitwise Operators

In [ ]:
#             122  58   26
# 250 = 128 + 64 + 32 + 16 + 8 + 2 = 1111 1010
              244   116  52
# 500 = 256 + 128 + 64 + 32 + 16 + 4 = 1 1111 0100
# 125 = 0111 1101

In [45]:
# bitwise operators: >> << & | ^
# num1 << n = num1 * (2**n)
# num1 >> n = num1 // (2**n)
var1 = 250
print (var1, var1 << 1, var1 >> 1)
print (var1, var1 << 3, var1 * (2 ** 3))
var1 = 2000
print (var1, var1 >> 3, var1 // (2 ** 3))

250 500 125
250 2000 2000
2000 250 250

In [ ]:
# A => 65 = 64 + 1      = 0100 0001
                       or 0010 0000 => 32 
                          ---------
# a => 97 = 64 + 32 + 1 = 0110 0001

In [48]:
char1 = "A"
char2 = chr(ord(char1) | 32)
print (char1, char2)

A a

In [ ]:
a and 0 = 0
a and 1 = a
a and a = a
a and a' = 0

a or 0 = a
a or 1 = 1
a or a = a
a or a' = 1

a xor 0 = a
a xor 1 = a'
a xor a = 0
a xor a' = 1

In [ ]:
# a => 97 = 64 + 32 + 1 = 0110 0001
                      and 1101 1111 => 255 - 32 = 223
                          ---------
# A => 65 = 64 + 1      = 0100 0001

In [49]:
char1 = "a"
char2 = chr(ord(char1) & 223)
print (char1, char2)

a A

In [ ]:
# A => 65 = 64 + 1      = 0100 0001
                      xor 0010 0000 => 32  
# a => 97 = 64 + 32 + 1 = 0110 0001

In [50]:
char1 = "a"
char2 = chr(ord(char1) ^ 32)
print (char1, char2)

char1 = "A"
char2 = chr(ord(char1) ^ 32)
print (char1, char2)

a A
A a

### Conditional Statements

In [57]:
# find the maximum of three user given numbers
num1 = int(input("Please enter the first number..."))
num2 = int(input("Please enter the second number..."))
num3 = int(input("Please enter the third number..."))
if (num1 > num2):
    if (num1 > num3):
        print ("First number is the maximum number...")
        print (f"So the maximum number is {num1}...")
    else:
        print ("Third number is the maximum number...")
        print (f"So the maximum number is {num3}...")
elif (num2 > num3):
    print ("Second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("Third number is the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number... 33
Please enter the second number... 22
Please enter the third number... 11

First number is the maximum number...
So the maximum number is 33...
End of the program...

In [61]:
# find the maximum of three user given numbers
num1 = int(input("Please enter the first number..."))
num2 = int(input("Please enter the second number..."))
num3 = int(input("Please enter the third number..."))
if (num1 > num2 and num1 > num3):
    print ("First number is the maximum number...")
    print (f"So the maximum number is {num1}...")
elif (num2 > num3):
    print ("Second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("Third number is the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number... 11
Please enter the second number... 22
Please enter the third number... 33

Third number is the maximum number...
So the maximum number is 33...
End of the program...

In [ ]:
# Class Assignment: # find the second maximum of three user given numbers
Step-1:
At first compare num1 and num2, and put the maximum of them in max1
and other number in max2
Step-2:
Now we shall deal with - max1, max2 and num3
Let us consider:
                      max1       max2
                      500        300
      num3 ->   700         400         200
second max ->         500   400         300
                      max1  num3        max2

In [60]:
# find the second maximum of three user given numbers
num1 = int(input("Please enter the first number..."))
num2 = int(input("Please enter the second number..."))
num3 = int(input("Please enter the third number..."))
# step-1
if (num1 > num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1
# step-2
if (num3 > max1): smax = max1
elif (num3 > max2): smax = num3
else: smax = max2
print (f"So out of {num1}, {num2} and {num3}, second maximum is {smax}...")
print ("End of the program...")

Please enter the first number... 33
Please enter the second number... 11
Please enter the third number... 22

So out of 33, 11 and 22, second maximum is 22...
End of the program...

### Loops in Python

In [64]:
for i in range(8):
    print (f"Looping for i = {i}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
End of the program...

In [65]:
for i in range(0, 8):
    print (f"Looping for i = {i}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
End of the program...

In [67]:
for i in range(0, 8, 1):
    print (f"Looping for i = {i}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
End of the program...

In [68]:
for i in range(0, 8, 2):
    print (f"Looping for i = {i}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 2...
Looping for i = 4...
Looping for i = 6...
End of the program...

In [69]:
for i in range(8, 0, -2):
    print (f"Looping for i = {i}...")
print ("End of the program...")

Looping for i = 8...
Looping for i = 6...
Looping for i = 4...
Looping for i = 2...
End of the program...

In [70]:
count = 0
for i in range(-5, 5, 1):
    print (f"Looping for i = {i}...")
    count += 1
print (f"Total number of iterations is {count}...")
print ("End of the program...")

Looping for i = -5...
Looping for i = -4...
Looping for i = -3...
Looping for i = -2...
Looping for i = -1...
Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Total number of iterations is 10...
End of the program...

In [71]:
for i in range(8):
    print (f"Executing for i = {i}...")
else:
    print ("Else Block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0...
Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Else Block is executing...
Had a smooth execution...
End of the program...

In [76]:
for i in range(8):
    print (f"Executing for i = {i}...")
    if (i == 7): break
else:
    print ("Else Block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0...
Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
End of the program...

In [81]:
# check whether one user given number is PRIME or not
num1 = int(input("Please enter one integer:"))
for i in range(2, num1):
    print (f"Executing for i = {i}...")
    if (num1 % i == 0):
        print (f"{num1} is NOT PRIME...")
        break
else:
    print (f"{num1} is PRIME...")
print ("End of the program...")

Please enter one integer: 11

Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Executing for i = 8...
Executing for i = 9...
Executing for i = 10...
11 is PRIME...
End of the program...

In [83]:
# check whether one user given number is PRIME or not
num1 = int(input("Please enter one integer:"))
for i in range(2, int(num1 ** 0.5) + 1):
    print (f"Executing for i = {i}...")
    if (num1 % i == 0):
        print (f"{num1} is NOT PRIME...")
        break
else:
    print (f"{num1} is PRIME...")
print ("End of the program...")

Please enter one integer: 101

Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Executing for i = 8...
Executing for i = 9...
Executing for i = 10...
101 is PRIME...
End of the program...

In [86]:
for i in range(8):
    if (i == 3 or i == 5):
        print (f"Continue with i = {i}...")
        continue
    print (f"Executing for the value of i = {i}...")
else:
    print ("Else block is executing...")
print ("End of the program...")

Executing for the value of i = 0...
Executing for the value of i = 1...
Executing for the value of i = 2...
Continue with i = 3...
Executing for the value of i = 4...
Continue with i = 5...
Executing for the value of i = 6...
Executing for the value of i = 7...
Else block is executing...
End of the program...

In [90]:
for i in range(8):
    if (i != 3 and i != 5):
        pass    # no effect in the output, it is called statement place holder
    else:
        print (f"Continue with i = {i}...")
        continue
    print (f"Executing for the value of i = {i}...")
else:
    print ("Else block is executing...")
print ("End of the program...")

Executing for the value of i = 0...
Executing for the value of i = 1...
Executing for the value of i = 2...
Continue with i = 3...
Executing for the value of i = 4...
Continue with i = 5...
Executing for the value of i = 6...
Executing for the value of i = 7...
Else block is executing...
End of the program...

In [92]:
# nested loops
print ("Visit Doctor...")   # executes for 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")   # executes for 5 times
    for medi in range(1, 4):
        print (f"Day No. - {day} and Medicine No.- {medi}...")   # executes for 15 times
        medicount += 1
    print ("Good Night...")   # executes for 5 times
    print ("----------------------------------------------")   # executes for 5 times
print ("Thanks to Doctor...")   # executes for 1 time
print (f"Total number of medicines consumed is {medicount}...")
print ("End of the Story...")   # executes for 1 time

Visit Doctor...
Good Morning...
Day No. - 1 and Medicine No.- 1...
Day No. - 1 and Medicine No.- 2...
Day No. - 1 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 2 and Medicine No.- 1...
Day No. - 2 and Medicine No.- 2...
Day No. - 2 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 3 and Medicine No.- 1...
Day No. - 3 and Medicine No.- 2...
Day No. - 3 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 4 and Medicine No.- 1...
Day No. - 4 and Medicine No.- 2...
Day No. - 4 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 5 and Medicine No.- 1...
Day No. - 5 and Medicine No.- 2...
Day No. - 5 and Medicine No.- 3...
Good Night...
----------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...
End of the Story...

In [94]:
i = 1
while (i <= 8):
    print (f"Looping for i = {i}...")
    # i = i + 1
    i += 1
else:
    print ("ELSE block is executing..." )
print ("End of the looping...")

Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
Looping for i = 8...
ELSE block is executing...
End of the looping...

In [95]:
# nested while loops
print ("Visit Doctor...")   # executes for 1 time
medicount = 0
day = 1
while (day <= 5):
    print ("Good Morning...")   # executes for 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. - {day} and Medicine No.- {medi}...")   # executes for 15 times
        medicount += 1
        medi += 1
    print ("Good Night...")   # executes for 5 times
    print ("----------------------------------------------")   # executes for 5 times
    day += 1
print ("Thanks to Doctor...")   # executes for 1 time
print (f"Total number of medicines consumed is {medicount}...")
print ("End of the Story...")   # executes for 1 time

Visit Doctor...
Good Morning...
Day No. - 1 and Medicine No.- 1...
Day No. - 1 and Medicine No.- 2...
Day No. - 1 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 2 and Medicine No.- 1...
Day No. - 2 and Medicine No.- 2...
Day No. - 2 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 3 and Medicine No.- 1...
Day No. - 3 and Medicine No.- 2...
Day No. - 3 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 4 and Medicine No.- 1...
Day No. - 4 and Medicine No.- 2...
Day No. - 4 and Medicine No.- 3...
Good Night...
----------------------------------------------
Good Morning...
Day No. - 5 and Medicine No.- 1...
Day No. - 5 and Medicine No.- 2...
Day No. - 5 and Medicine No.- 3...
Good Night...
----------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...
End of the Story...

In [ ]:
# pattern-1
n = 6 (user given number of layers)
              i   .   *
            -------------
.....*        1   5   1        (i, n)
....***       2   4   3   . => (n - i)
...*****      3   3   5
..*******     4   2   7   * =>  (2 * i - 1)
.*********    5   1   9
***********   6   0  11
            -------------
            Tracing Table

In [98]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  10

.........*
........***
.......*****
......*******
.....*********
....***********
...*************
..***************
.*****************
*******************
End of the program...

In [ ]:
# pattern-2
n = 6 (user given number of layers)
              i   .   *
            -------------
***********   1   0  11        (i, n)
.*********    2   1   9   . => (i - 1)
..*******     3   2   7
...*****      4   3   5   * => 2 * (n - i) + 1
....***       5   4   3
.....*        6   5   1
            -------------
            Tracing Table

In [99]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  11

*********************
.*******************
..*****************
...***************
....*************
.....***********
......*********
.......*******
........*****
.........***
..........*
End of the program...

In [ ]:
# pattern-3
n = 11 (user given ODD number of layers)
m = (11 + 1) // 2 = (n + 1) // 2 = 6
              i   .   *
            -------------
.....*        1   5   1        (i, m, n)
....***       2   4   3   . => (m - i)
...*****      3   3   5
..*******     4   2   7   * => (2 * i - 1)
.*********    5   1   9
***********  _6___0__11_
.*********    7   1   9
..*******     8   2   7   . => (i - m)
...*****      9   3   5
....***      10   4   3   * => (2 * (n - i) + 1)
.....*       11   5   1
            -------------
            Tracing Table

In [106]:
while (True):
    n = int(input("Please enter ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the pattern printing...")

Please enter ODD number of layers:  10
Please enter ODD number of layers:  12
Please enter ODD number of layers:  8
Please enter ODD number of layers:  20
Please enter ODD number of layers:  11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the pattern printing...

In [ ]:
# pattern-4
n = 11 (user given ODD number of layers)
m = (11 + 1) // 2 = (n + 1) // 2 = 6
              i   .   *
            -------------
***********   1   0  11        (i, m, n)
.*********    2   1   9   . => (i - 1)
..*******     3   2   7
...*****      4   3   5   * => (2 * (m - i) + 1)
....***       5   4   3
.....*       _6___5___1_
....***       7   4   3
...*****      8   3   5   . => (n - i)
..*******     9   2   7
.*********   10   1   9   * => (2 * (i - m) + 1)
***********  11   0  11
            -------------
            Tracing Table

In [108]:
while (True):
    n = int(input("Please enter ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (n - i); s = (2 * (i - m) + 1)
    else: b = (i - 1); s = (2 * (m - i) + 1)
    print ("." * b + "*" * s)
print ("End of the pattern printing...")

Please enter ODD number of layers:  12
Please enter ODD number of layers:  10
Please enter ODD number of layers:  8
Please enter ODD number of layers:  22
Please enter ODD number of layers:  13

*************
.***********
..*********
...*******
....*****
.....***
......*
.....***
....*****
...*******
..*********
.***********
*************
End of the pattern printing...

### Eval

In [110]:
myexpr = input("Please enter your expression: ")
result = eval(myexpr)
print (f"So value against the expression {myexpr} is {result}...")

Please enter your expression:  100 + (2 * 3 + 500) * 10

So value against the expression 100 + (2 * 3 + 500) * 10 is 5160...

In [113]:
print ("Good","Morning")
print ("Good day")

Good Morning
Good day

In [114]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [120]:
# ... is called ellipsis operator
print ("Good","Morning", sep = " - ", end = ", ")
print ("Good day")

Good - Morning, Good day

### Inbuilt Collections

In [130]:
list1 = ["Amitava", "Male", 34, 65000.00, True]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = ("Amitava", "Male", 34, 65000.00, True)   # immutable, read-only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {"name":"Amitava", "gender":"Male", "age":34, "salary":65000.00, "married":True}
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Amitava", "Male", 34, 65000.00, True, "Male", 34, 65000.00, True}
print (set1, len(set1), type(set1), id(set1))
frset1 = frozenset(["Amitava", "Male", 34, 65000.00, True, "Male", 34, 65000.00, True])
print (frset1, len(frset1), type(frset1), id(frset1))   # immutable, read-only

['Amitava', 'Male', 34, 65000.0, True] 5 <class 'list'> 2168789790848
('Amitava', 'Male', 34, 65000.0, True) 5 <class 'tuple'> 2168791058608
{'name': 'Amitava', 'gender': 'Male', 'age': 34, 'salary': 65000.0, 'married': True} 5 <class 'dict'> 2168789474880
{True, 34, 'Male', 65000.0, 'Amitava'} 5 <class 'set'> 2168791139936
frozenset({True, 34, 'Male', 65000.0, 'Amitava'}) 5 <class 'frozenset'> 2168791629184

In [132]:
# empty inbuilt collections
list1 = []
print (list1, len(list1), type(list1), id(list1))
tuple1 = ()
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {}
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = set()
print (set1, len(set1), type(set1), id(set1))
frset1 = frozenset()
print (frset1, len(frset1), type(frset1), id(frset1))   # immutable, read-only

[] 0 <class 'list'> 2168790554048
() 0 <class 'tuple'> 2168670404720
{} 0 <class 'dict'> 2168789784128
set() 0 <class 'set'> 2168791149792
frozenset() 0 <class 'frozenset'> 2168791146880

### User Defined Function (UDF)

In [134]:
def funct1():
    print ("Hello to ALL...")
    
funct1()
funct1()
funct1()
print (type(funct1))

Hello to ALL...
Hello to ALL...
Hello to ALL...
<class 'function'>

In [138]:
def funct2(msg, times):    # positional parameters
    print (msg * times)
    
funct2("Hello ", 4)    # positional arguments
funct2("Hi !!! ", 5)
funct2("Good Bye... ", 3)

Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!
Good Bye... Good Bye... Good Bye...

In [139]:
def funct3(msg, times):    # positional parameters
    return msg * times
    
result = funct3("Hello ", 4)    # positional arguments
print (result)
result = funct3("Hi !!! ", 5)
print (result)
result = funct3("Good Bye... ", 3)
print (result)

Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!
Good Bye... Good Bye... Good Bye...

In [148]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2}, par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par2 = 200)

par1 = 100, par2 = 200, par3 = 300...
par1 = 100, par2 = 200, par3 = 333...
par1 = 100, par2 = 222, par3 = 333...
par1 = 111, par2 = 222, par3 = 333...
par1 = 100, par2 = 222, par3 = 300...
par1 = 111, par2 = 200, par3 = 300...

In [150]:
def funct5(par1, par2 = None):
    # if (par2 == None):
    if (par2 is None):
        return 2 * par1
    else:
        return par1 + par2
    
result = funct5(100)
print (result)
result = funct5(100, 400)
print (result)

200
500

In [ ]:
"'({[university]})'"

In [153]:
# function returning multiple arguments
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tot, dif, prd, qut = funct6(100, 40)
print (f"Total = {tot}, difference = {dif}, product = {prd} and quotient = {qut}...")
result = funct6(100, 40)
print (result, len(result), type(result), id(result))
print (f"Total = {result[0]}, difference = {result[1]}, product = {result[2]} and quotient = {result[3]}...")

Total = 140, difference = 60, product = 4000 and quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 2168794985024
Total = 140, difference = 60, product = 4000 and quotient = 2.5...

In [154]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcibly we are defining a tuple class object
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer")
funct7("Amitava", "Developer", "Pune", 65000)
funct7("Amitava", "Developer", "Pune", 65000, True)

('Amitava', 'Developer') 2 <class 'tuple'> 2168792383808
('Amitava', 'Developer', 'Pune', 65000) 4 <class 'tuple'> 2168794982544
('Amitava', 'Developer', 'Pune', 65000, True) 5 <class 'tuple'> 2168791058608

In [157]:
# function with variable number of arguments
def funct8(**kwarg):    # **kwarg means forcibly we are defining a dictionary class object
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name="Amitava", job="Developer")
funct8(name="Amitava", job="Developer", location="Pune", salary=65000)
funct8(name="Amitava", job="Developer", location="Pune", salary=65000, married=True)

{'name': 'Amitava', 'job': 'Developer'} 2 <class 'dict'> 2168795871296
{'name': 'Amitava', 'job': 'Developer', 'location': 'Pune', 'salary': 65000} 4 <class 'dict'> 2168795873088
{'name': 'Amitava', 'job': 'Developer', 'location': 'Pune', 'salary': 65000, 'married': True} 5 <class 'dict'> 2168795872064

In [159]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", location="Pune", salary=65000, married=True)
print ()
funct9("Amitava", "Developer")
print ()
funct9(location="Pune", salary=65000, married=True)

('Amitava', 'Developer') 2 <class 'tuple'> 2168795560960
{'location': 'Pune', 'salary': 65000, 'married': True} 3 <class 'dict'> 2168795803008

('Amitava', 'Developer') 2 <class 'tuple'> 2168795560960
{} 0 <class 'dict'> 2168795800192

() 0 <class 'tuple'> 2168670404720
{'location': 'Pune', 'salary': 65000, 'married': True} 3 <class 'dict'> 2168795796416

In [165]:
# non-recursive function
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        print (f"Loop is executing for i = {i}...")
        fact *= i
    return fact

n = 5
result = factorial_nr(n)
print (f"So n = {n} and its factorial = {result}...")
n = 6
result = factorial_nr(n)
print (f"So n = {n} and its factorial = {result}...")

Loop is executing for i = 2...
Loop is executing for i = 3...
Loop is executing for i = 4...
So n = 5 and its factorial = 120...
Loop is executing for i = 2...
Loop is executing for i = 3...
Loop is executing for i = 4...
Loop is executing for i = 5...
So n = 6 and its factorial = 720...

In [167]:
# recursive function
def factorial_r(num):
    if (num == 0 or num == 1): return 1   # base case: for certain inputs, outputs are pre-known
    return num * factorial_r(num - 1)  # recursive case, the function will call itself

n = 5
result = factorial_r(n)
print (f"So n = {n} and its factorial = {result}...")
n = 6
result = factorial_r(n)
print (f"So n = {n} and its factorial = {result}...")

So n = 5 and its factorial = 120...
So n = 6 and its factorial = 720...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120 => Answer

### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [169]:
my_square = lambda num: num * num

result = my_sqare(10)
print (result)
print (type(my_square))

100
<class 'function'>

In [170]:
my_addition = lambda num1, num2: num1 + num2
result = my_addition(100, 400)
print (result)
print (my_addition)

500
<function <lambda> at 0x000001F8F687EB90>

In [171]:
my_factorial = lambda num: 1 if (num == 0 or num == 1) else num * my_factorial(num - 1)

print (my_factorial(5))
print (my_factorial(6))

120
720

In [174]:
def funct10(num):
    my_product = lambda n: n * num
    return my_product
var10 = funct10(10)
var20 = funct10(20)
print (type(var10), type(var20))
print (var10(3))
print (var20(4))
print (funct10(20)(4))

<class 'function'> <class 'function'>
30
80
80

In [176]:
def funct11():
    num = 555
    print ("Inside the function num =", num, id(num))
    
num = 100
print ("Before calling the function num =", num, id(num))
funct11()
print ("After calling the function num =", num, id(num))
print ("End of the program...")

Before calling the function num = 100 2168670391632
Inside the function num = 555 2168801079376
After calling the function num = 100 2168670391632
End of the program...

In [178]:
def funct11():
    global num
    print ("Inside the function num =", num, id(num))
    num = 555
    print ("Inside the function num =", num, id(num))
    
num = 100
print ("Before calling the function num =", num, id(num))
funct11()
print ("After calling the function num =", num, id(num))
print ("End of the program...")

Before calling the function num = 100 2168670391632
Inside the function num = 100 2168670391632
Inside the function num = 555 2168801079856
After calling the function num = 555 2168801079856
End of the program...

In [179]:
numbers = [50, 20, 30, 60, 40]
sorted_numbers = sorted(numbers)
print (numbers)
print (sorted_numbers)

[50, 20, 30, 60, 40]
[20, 30, 40, 50, 60]

In [180]:
numbers = [50, 20, 30, 60, 40]
sorted_numbers = sorted(numbers, key = lambda x: -x)
print (numbers)
print (sorted_numbers)

[50, 20, 30, 60, 40]
[60, 50, 40, 30, 20]

In [ ]:
# Class Assignment:
Index:  1   2   3   4    5   6   7   8   9   10   11  12 ...      
total = 1 + 2 + 3 + 4 + 10 + 5 + 6 + 7 + 8 + 26 + 9 + 10 + ... n terms
1. Find the 99th term of the series. Answer: 80
2. For first n number of terms in the series, find the sum of the series.
for n = 4, total = 10
for n = 5, total = 20
for n = 10, total = 72
for user given n, total = ???

In [ ]:
input n
fsum = 0 and tsum = 0 and term = 1
for i = 1 to n
    if (i mod 5 = 0) then fsum = fsum + tsum; tsum = 0
    else tsum = tsum + term; fsum = fsum + term; term = term + 1
end for
print fsum
end

In [185]:
n = int(input("Please enter the number of terms: "))
fsum = tsum = 0; term = 1
for i in range(1, n + 1):
    if (i % 5 == 0):
        fsum = fsum + tsum;
        print (f"And for i = {i} adding tsum = {tsum}...")
        tsum = 0
    else:
        tsum = tsum + term;
        fsum = fsum + term;
        print (f"For i = {i} adding term = {term}...")
        term = term + 1
print (f"So the final sum of {n} terms of the series is {fsum}...")
print ("End of the program...")

Please enter the number of terms:  12

For i = 1 adding term = 1...
For i = 2 adding term = 2...
For i = 3 adding term = 3...
For i = 4 adding term = 4...
And for i = 5 adding tsum = 10...
For i = 6 adding term = 5...
For i = 7 adding term = 6...
For i = 8 adding term = 7...
For i = 9 adding term = 8...
And for i = 10 adding tsum = 26...
For i = 11 adding term = 9...
For i = 12 adding term = 10...
So the final sum of 12 terms of the series is 91...
End of the program...