## **Introduction to Python**

### Comment Line

In [51]:
# This is a comment line
# All comment lines will be preceeded by the # symbol
# This is the last comment line

### Inputs and Outputs

In [2]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2   # string concatenation
print ("So total =", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 2168756803120
200 <class 'str'> 2168756802864
So total = 100200
End of the program...

In [4]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2   # string concatenation
print ("So total =", total)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300

200 <class 'int'> 2168670394832
300 <class 'int'> 2168756057712
So total = 500
End of the program...

In [17]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " +str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # {} denotes variable place-holder
print ("So {0} + {1} = {2}".format(num1, num2, total))  # numbered place holder
print ("So {2} + {1} = {0}".format(total, num2, num1))  # numbered place holder
print ("So {fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = total))   # labelled place-holder
print ("So {fn} + {sn} = {tot}".format(sn = num2, tot = total, fn = num1))
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %f = %d"%(num1, num2, total))
print ("So %d + %8.2f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")   # smart formatting available from Python 2.7 version

So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300.000000 = 500
So 200 +   300.00 = 500
So 200 + 300 = 500

### Dynamic Variable Types

In [18]:
var1 = 100
print (var1, type(var1), id(var1))
var1 = 100.45
print (var1, type(var1), id(var1))
var1 = "India"
print (var1, type(var1), id(var1))
var1 = "I"
print (var1, type(var1), id(var1))
var1 = True
print (var1, type(var1), id(var1))
var1 = False
print (var1, type(var1), id(var1))

100 <class 'int'> 2168670391632
100.45 <class 'float'> 2168774823408
India <class 'str'> 2168784889456
I <class 'str'> 2168678442608
True <class 'bool'> 140730126190800
False <class 'bool'> 140730126190832

In [19]:
var1 = 100
var2 = var1
var3 = 100
print (var1, id(var1))
print (var2, id(var2))
print (var3, id(var3))

100 2168670391632
100 2168670391632
100 2168670391632

In [23]:
var1 = 257
var2 = var1
var3 = 257
print (var1, id(var1))
print (var2, id(var2))
print (var3, id(var3))

257 2168784092368
257 2168784092368
257 2168784091696

In [26]:
# for the values in the range -5 to 256, same memory spaces will be referenced by the variables
var1 = -6
var2 = var1
var3 = -6
print (var1, id(var1))
print (var2, id(var2))
print (var3, id(var3))

-6 2168784091504
-6 2168784091504
-6 2168784091344

### Python Operators

In [27]:
# arithmetic operators
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 % 40)
print (100 ** 4)

140
60
4000
2.5
2
20
100000000

In [ ]:
Operators can be categorized in followin types:
    1. Unary Operator (only one operand), e.g. +100, -40
    2. Binary Operator (only two operands), e.g. 100 + 30  100 / 30
    3. Ternary Operator (only three operands)

In [41]:
print (+100, -100)   # unary operator
print ("Hello " * 5)   # binary operator
print ("Bana" + "na")

100 -100
Hello Hello Hello Hello Hello
Banana

In [29]:
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"  # result = num1 % 2 == 0? "Even": "Odd";
print (f"So {num1} is an {result} number...")
       
num1 = 101
result = "Even" if (num1 % 2 == 0) else "Odd"
print (f"So {num1} is an {result} number...")

So 100 is an Even number...
So 101 is an Odd number...

In [32]:
# relational operators: > >= < <= != ==
print (100 > 40, 100 >= 40, 100 != 40)
# logical operators: and or not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not True, not False)

True True True
False False False True
False True True True
False True

### ASCII Codes

In [34]:
# ASCII (American Standard Code for Information Interchange)
# ASCII codes are 8 bit numbers, 256 combinations and ranging from 0 to 255
# Normal ASCII Codes: 0 to 127 (printable)
# Extendedl ASCII Codes: 128 to 255 (non-printable)
# A => 65, B => 66, ... Z => 90
# a => 97, b => 98, ... z => 122
# 0 => 48, 1 => 49, ... 9 => 57
# Space => 32, Enter => 13, Tab => 8, Back Space => 9

In [37]:
var1 = "A"
print (var1, ord(var1))
var1 = "Z"
print (var1, ord(var1))
var1 = "a"
print (var1, ord(var1))
var1 = "z"
print (var1, ord(var1))

A 65
Z 90
a 97
z 122

In [39]:
var1 = 65
print (var1, chr(var1))
var1 = 90
print (var1, chr(var1))
var1 = 97
print (var1, chr(var1))
var1 = 122
print (var1, chr(var1))

65 A
90 Z
97 a
122 z

### Bitwise Operators

In [ ]:
#             122  58   26
# 250 = 128 + 64 + 32 + 16 + 8 + 2 = 1111 1010
              244   116  52
# 500 = 256 + 128 + 64 + 32 + 16 + 4 = 1 1111 0100
# 125 = 0111 1101

In [45]:
# bitwise operators: >> << & | ^
# num1 << n = num1 * (2**n)
# num1 >> n = num1 // (2**n)
var1 = 250
print (var1, var1 << 1, var1 >> 1)
print (var1, var1 << 3, var1 * (2 ** 3))
var1 = 2000
print (var1, var1 >> 3, var1 // (2 ** 3))

250 500 125
250 2000 2000
2000 250 250

In [ ]:
# A => 65 = 64 + 1      = 0100 0001
                       or 0010 0000 => 32 
                          ---------
# a => 97 = 64 + 32 + 1 = 0110 0001

In [48]:
char1 = "A"
char2 = chr(ord(char1) | 32)
print (char1, char2)

A a

In [ ]:
a and 0 = 0
a and 1 = a
a and a = a
a and a' = 0

a or 0 = a
a or 1 = 1
a or a = a
a or a' = 1

a xor 0 = a
a xor 1 = a'
a xor a = 0
a xor a' = 1

In [ ]:
# a => 97 = 64 + 32 + 1 = 0110 0001
                      and 1101 1111 => 255 - 32 = 223
                          ---------
# A => 65 = 64 + 1      = 0100 0001

In [49]:
char1 = "a"
char2 = chr(ord(char1) & 223)
print (char1, char2)

a A

In [ ]:
# A => 65 = 64 + 1      = 0100 0001
                      xor 0010 0000 => 32  
# a => 97 = 64 + 32 + 1 = 0110 0001

In [50]:
char1 = "a"
char2 = chr(ord(char1) ^ 32)
print (char1, char2)

char1 = "A"
char2 = chr(ord(char1) ^ 32)
print (char1, char2)

a A
A a

### Conditional Statements

In [57]:
# find the maximum of three user given numbers
num1 = int(input("Please enter the first number..."))
num2 = int(input("Please enter the second number..."))
num3 = int(input("Please enter the third number..."))
if (num1 > num2):
    if (num1 > num3):
        print ("First number is the maximum number...")
        print (f"So the maximum number is {num1}...")
    else:
        print ("Third number is the maximum number...")
        print (f"So the maximum number is {num3}...")
elif (num2 > num3):
    print ("Second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("Third number is the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number... 33
Please enter the second number... 22
Please enter the third number... 11

First number is the maximum number...
So the maximum number is 33...
End of the program...

In [61]:
# find the maximum of three user given numbers
num1 = int(input("Please enter the first number..."))
num2 = int(input("Please enter the second number..."))
num3 = int(input("Please enter the third number..."))
if (num1 > num2 and num1 > num3):
    print ("First number is the maximum number...")
    print (f"So the maximum number is {num1}...")
elif (num2 > num3):
    print ("Second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("Third number is the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number... 11
Please enter the second number... 22
Please enter the third number... 33

Third number is the maximum number...
So the maximum number is 33...
End of the program...

In [ ]:
# Class Assignment: # find the second maximum of three user given numbers
Step-1:
At first compare num1 and num2, and put the maximum of them in max1
and other number in max2
Step-2:
Now we shall deal with - max1, max2 and num3
Let us consider:
                      max1       max2
                      500        300
      num3 ->   700         400         200
second max ->         500   400         300
                      max1  num3        max2

In [60]:
# find the second maximum of three user given numbers
num1 = int(input("Please enter the first number..."))
num2 = int(input("Please enter the second number..."))
num3 = int(input("Please enter the third number..."))
# step-1
if (num1 > num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1
# step-2
if (num3 > max1): smax = max1
elif (num3 > max2): smax = num3
else: smax = max2
print (f"So out of {num1}, {num2} and {num3}, second maximum is {smax}...")
print ("End of the program...")

Please enter the first number... 33
Please enter the second number... 11
Please enter the third number... 22

So out of 33, 11 and 22, second maximum is 22...
End of the program...